<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" href="/static/css/hompage/style.css">
</head>
<body>
	<div class="background">
	<header>
		<div class="logo-heading">
			<img class="hansraj-logo" src="/static/css/hompage/platinumjubleelogo.png" >
			<h1 class="header-left">SPORTS MANAGEMENT SYSTEM</h1>
		</div>

		
		<!-- <div class="logo-userid">
			<img class="user-logo" src="/static/css/hompage/user.png" >
			<h1 class="header-right">{{name}}</h1>
		</div> -->
			
	</header>
	<main>
		  <div class="heading">
			<h3 class="admin-heading">ADMIN PANEL</h3>
		  </div>
		
		
		<div class="container">
		
			<div class="button-box">
				
				<a class="button-text" href="/issueItem"><button class="button"><p>ISSUE ITEM</p></button></a>
				<a class="button-text" href="/returnItem"><button class="button"><p>RETURN ITEM</p></button></a>
				<a class="button-text" href="/inventory"><button class="button"><p>INVENTORY</p></button></a>
				<a class="button-text" href="/reportgeneration"><button class="button"><p>REPORT GENERATION</p></button></a>
				<!-- <a class="button-text" href="#"><button class="button"><p>ADD STUDENT DATA</button></a> -->
			</div>
		</div>
	</main>
</div>
</body>
</html>

