<!DOCTYPE html>
<html>
  <head>
    <title>Home | Issue Item</title>
    {% if flag %}
        <link rel="stylesheet" href="/static/css/clearDue/style.css">
    {% else %}
        <link rel="stylesheet" href="/static/css/returnItem/style.css">
    {% endif %}

  </head>
  <body>
    <div class="blur">
      <div class="heading"><h1>Return Sports Item</h1></div>
      
      <div class="container">
        <form action="/returnItem" method="POST">
          <label for="student-id">Student ID</label>
          <input type="text" id="student-id" name="studentid" placeholder="Enter Student ID" required>
          
          <label for="student-roll-no">Item ID</label>
          <!-- <input type="text" id="itemid" name="itemid" required> -->
          <select name="itemid" style="overflow-y: scroll;" required>
            <option value="" disabled selected>Select Item ID</option>
            {%for itemid in itemids%}
            <option value="{{itemid}}">{{itemid}}</option>
            {%endfor%}
          </select>
          
          <label for="sports-item-id">Sports Name</label>
          <!-- <input type="text" id="sports-name" name="sportsname" required> -->
          <select name="sportsname" style="overflow-y: scroll;" required>
            <option value="" disabled selected>Select Sports Name</option>
            {%for sportsname in sportsnames%}
            <option value="{{sportsname}}">{{sportsname}}</option>
            {%endfor%}
          </select>
          
          <div class="buttons">
            <button type="submit" class="btn return-btn">Return</button>
            <form action="/returnItem" method="GET">
              <a href="/home"><button type="button" class="btn back-btn">Back</button>
          </a></form>
          </div>
        </form>
      </div>
      
      <div class="item_warning"><h1 class="warning">
        {% if info is defined %}
        {{itemid}} {{info}}
        {%else%}
        <div class="footer-identation"></div>
        {% endif %}</h1>
      </div>
    </div>

    {% if booldues%}
    <div class="item_warning"><h1 class="warning">
      {% if info is defined %}
      {{info}}
      {%else%}
      <div class="footer-identation"></div>
      {% endif %}</h1>
    </div>
  </div>
    {% endif%}
    {% if flag %}
    <div class="box">
      <p>Calculated due till date {{current_date}} : ₹{{calculated_due}}</p>
      <div class="box-buttons">
        <form action="/returned" method="POST">
        <button type="submit" class="clearance-button">Clear Due and Return</button>
        </form>
        <button class="back-button">Back</button>
      </div>
    </div>
    {% endif %}
  </body>
</html>

